/* Estilos generales para el tema claro */
body {
  background-color: #f5f5f5;
  color: #333; 
}
a {
  color: #333;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

button {
  padding: 10px 20px;
  background-color: #9a9b9c;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #3e3e3f;
}
